# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.exe

# Maven target folder
target/

# Your jpackage output folders
build-input/
ExcelImporter/